*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #f9532d;
  --primary-dark: #1F252E;
}
.container {
  padding: 0 1.4rem;
}


body {
  font-family: 'Quicksand', sans-serif;
 
  height: 100vh;
  margin: 0;
 
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: "Source Code Pro", sans-serif;
  font-size: 20px;
  font-weight: bold;

}
p {
  line-height: 27px;
}
 
/* header start */
header.navbar-container {
  width: 100%;
  max-width: 1200px;
  padding-block: 1rem;
  margin-inline: auto;
 
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  z-index: 9999;
}
 
header.navbar-container .logo img {
  max-height: 70px;
  width: 150px;
  object-fit:cover;
}
 
header.navbar-container .nav-list ul {
  padding-left: 0;
 
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}
 
header.navbar-container .nav-list li {
  list-style-type: none;
}
 
header.navbar-container .nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
 
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: #1F252E;
  transition: all 0.2s ease-in-out;
}
 
header.navbar-container .nav-list li:hover a {
  background-color: #A51C30;
  color: white;
}

/* Dark Mode */
.dark-mode {
  background-color: var(--primary-dark);
  color: #ffffff;
}

.mode input {
  display: none;
}

:is(.dark-mode) {
  .navbar-container .nav-list li a{
    color: white;
  }
 
  .nav-list a:hover {
      color: var(--primary-dark);
      background-color: var(--primary-color);
  }

  .logo a {
      color: #fff;
  }
  .social-media li a {
    color:#1F252E;
  }
  .social-media ul {
  background-color: #ffffff;
}
}

/* dark mode End */
/* Header End*/

/* start main */
main {
  flex: 1;
 
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 4rem;
 
  display: flex;
  align-items: center;
}
 
main #content {
  flex: 1;
  display: flex;
  align-items: center;
}
 
main #content .content-description {
  flex: 1 1;
}
 
main #content .content-description .title {
  margin-block: 1rem;
 
  font-size: 3.5rem;
}
 
main #content .content-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}
 
main #content .content-description button {
  padding: 0.8rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 1rem;
 
  background-color: #B31B1B;
 
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;
 
  cursor: pointer;
  transition: all 0.15s ease-in;
}
 
main #content .content-description button:hover {
  border: 3px solid #B31B1B;
  background-color: transparent;
 
  color: #B31B1B;
}
 
main #content .content-image {
  flex: 1;
 
  display: flex;
}
 
main #content .content-image img {
  width: 400px;
  min-width: 250px;
  margin: auto;
}
 
main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media li img {
  width: 40px;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin: auto;
  background-color: #1F252E;
 
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
 
main aside .social-media li {
  list-style-type: none;
}
 
main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
 
  transition: all 0.1s ease-in-out;
}
 
main aside .social-media li a:hover {
  color:#1F252E;
}
 
/* Medium devices (768px dan di bawahnya) */
@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }
 
  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }
 
  main {
    padding: 1rem 3rem;
  }
 
  main #content {
    flex-direction: column;
    gap: 2rem;
  }
 
  main #content .content-description .title {
    font-size: 3rem;
  }
 
  main #content .content-description p {
    font-size: 1rem;
  }
 
  main #content .content-image {
    order: -1;
  }
}
/* main end */

footer {
  padding: 0rem 2rem;
  text-align: right;
  font-weight: bold;
}